<%= form_for(@piece) do |f| %>
  <% if @piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% @piece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset>
        <legend>New Piece</legend>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
    </fieldset>

  <div class="field">

  </div>
  <div class="field">
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :measurements %><br />
    <%= f.text_field :measurements %>
  </div>
  <div class="field">
    <%= f.label :credit %><br />
    <%= f.text_field :credit %>
  </div>
  <div class="field">
    <%= f.label :accession_number %><br />
    <%= f.text_field :accession_number %>
  </div>
  <div class="field">
    <%= f.label :exhibited %><br />
    <%= f.check_box :exhibited %>
  </div>
  <div class="field">
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :gallery %><br />
    <%= f.text_field :gallery %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
