<%= form_for [:admin, @piece], :html => {:class => "form-horizontal", "data-mini" => "true"} do |f| %>
    <% if @piece.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

            <ul>
                <% @piece.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="controls">
        <%= f.check_box :exhibited %>
        <%= f.label :exhibited %>
    </div>

    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :title %>
    </div>

    <%= f.label :creator, :class => "control-label" %>
    <div class="controls">
        <%= f.select :creator, @creators %>
    </div>

    <label class="control-label">Location</label>
    <div class="controls">
        <div class="row">
            <div class="span3">
                <%= f.select :country, @countries %>
            </div>
            <div class="span3">
                <%= f.select :state, @states %>
            </div>
            <div class="span3">
                <%= f.select :city, @cities %>
            </div>
        </div>



    </div>

    <%= f.label :gallery, :class => "control-label" %>
    <div class="controls">
        <%= f.select :gallery, @galleries %>
    </div>

    <%= f.label :medium, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :medium %>
    </div>

    <%= f.label :measurements, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :measurements %>
    </div>

    <%= f.label :credit, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :credit %>
    </div>

    <%= f.label :accession_number, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :accession_number %>
    </div>


    <% f.fields_for :questions do |builder| %>
        <p>
            <%= builder.label :content, "Question" %>
            <%= builder.text_area :content, :rows => 3 %>
        </p>

    <% end %>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Questions</a></li>
            <li><a href="#tab2" data-toggle="tab">Informations</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <%= f.fields_for :questions do |builder| %>
                    <%= render 'question_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Question", f, :questions %>
            </div>
            <div class="tab-pane" id="tab2">
                <h2>Informations</h2>
            </div>
        </div>
    </div>

    <%= f.submit %>


<% end %>
