<%= form_for [:admin, @piece], :html => {:class => "form-horizontal", "data-mini" => "true"} do |f| %>
    <% if @piece.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

            <ul>
                <% @piece.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <fieldset>
        <legend>Piece</legend>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <%= f.check_box :exhibited %> Exhibited
                </label>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :title, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :title, :class => "fullwidth" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :creator, :class => "control-label" %>
            <div class="controls">
                <%= f.select :creator, @creators %>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Creation Location</label>
            <div class="controls">
                <div class="row">
                    <div class="span3">
                        <%= f.select :country, @countries %>
                    </div>
                    <div class="span3">
                        <%= f.select :state, @states %>
                    </div>
                    <div class="span3">
                        <%= f.select :city, @cities %>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :gallery, :class => "control-label" %>
            <div class="controls">
                <%= f.select :gallery, @galleries %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :medium, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :medium, :class => "fullwidth" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :measurements, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :measurements, :class => "fullwidth" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :credit, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :credit, :class => "fullwidth" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :accession_number, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :accession_number, :class => "fullwidth" %>
            </div>
        </div>
    </fieldset>

    <% f.fields_for :questions do |builder| %>
        <%= render 'question_fields', :f => builder %>
    <% end %>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Questions</a></li>
            <li><a href="#tab2" data-toggle="tab">Informations</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <%= f.fields_for :questions do |builder| %>
                    <%= render 'question_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Question", f, :questions %>
            </div>
            <div class="tab-pane" id="tab2">
                <h2>Informations</h2>
            </div>
        </div>
    </div>

    <div class="control-group">
        <%= f.submit "Save", :class => "btn" %>
    </div>

<% end %>
