<%= form_for [:admin, @piece], :html => {:class => "form-horizontal", :multipart => true} do |f| %>
    <% if @piece.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

            <ul>
                <% @piece.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <fieldset>
        <legend>Piece</legend>

        <div class="control-group">
            <%= f.label :museum, :class => "control-label" %>
            <div class="controls">
                <%= f.select :museum, ['Art', 'Natural History'] %>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <%= f.check_box :exhibited %> Exhibited
                </label>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :title, "Title/Name", :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :title, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group natural_history">
            <%= f.label :latin, "Latin Name", :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :latin, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :image, :class => "control-label" %>
            <div class="controls">
                <%= f.file_field :image %>
            </div>
        </div>
        <div class="control-group art">
            <%= f.label :artist, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :artist, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group art">
            <%= f.label :creator, :class => "control-label" %>
            <div class="controls">
                <%= f.select :creator_id, Creator.all.collect {|p| [p.name, p.id]}, {:include_blank => true} %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :gallery, :class => "control-label" %>
            <div class="controls">
                <%= f.select :gallery_id, Gallery.all.collect {|g| [g.name, g.id]}, {:include_blank => true} %>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Location</label>
            <div class="controls">
                <%= f.text_field :location, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :period, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :period, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group art">
            <%= f.label :medium, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :medium, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group art">
            <%= f.label :measurements, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :measurements, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group art">
            <%= f.label :credit, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :credit, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group art">
            <%= f.label :accession_number, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :accession_number, :class => "input-xxlarge" %>
            </div>
        </div>

        <div class="control-group natural_history">
            <%= f.label :collection_number, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :collection_number, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group natural_history">
            <%= f.label :description, :class => "control-label" %>
            <div class="controls">
                <%= f.text_area :description, :rows => 3, :class => "input-xxlarge" %><br/>
            </div>
        </div>
    </fieldset>

    <% f.fields_for :questions do |builder| %>
        <%= render 'question_fields', :f => builder %>
    <% end %>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Questions</a></li>
            <li><a href="#tab2" data-toggle="tab">Informations</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <p>
                    (<a href="#" class="info_tip" data-toggle="popover" data-placement="right" data-content="Questions are used during the Voyage by the visitor to check-in into a specific piece." title="Questions">What is this?</a>)
                </p>
                <%= f.fields_for :questions do |builder| %>
                    <%= render 'question_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Question", f, :questions %>
            </div>
            <div class="tab-pane" id="tab2">
                <p>
                    (<a href="#" class="info_tip" data-toggle="popover" data-placement="right" data-content="These are the information which will be shown to the visitor prior and during the visit at the museum." title="Informations">What is this?</a>)
                </p>
                <%= f.fields_for :informations do |builder| %>
                    <%= render 'information_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Information", f, :informations %>
            </div>
        </div>
    </div>

    <div class="control-group">
        <%= f.submit "Save", :class => "btn" %>
    </div>

<% end %>
