<fieldset>
    <div class="partial_form">
        <%= f.label :before, "Information Before" %>
        <%= f.text_area :before, :rows => 3, :class => "input-xxlarge" %><br>
        <%= f.label :after, "Information After" %>
        <%= f.text_area :after, :rows => 3, :class => "input-xxlarge" %><br/>
        <%= link_to "Remove", "#", :class => "remove_fields" %><br/>
        <%= f.hidden_field :_destroy %>
    </div>
</fieldset>


