<fieldset>
<div class="partial_form">
    <%= f.label :content, "Question" %>
    <%= f.text_field :content, :class => "input-xxlarge" %>
    <%= link_to "Remove", "#", :class => "remove_fields" %><br/>
    <%= f.hidden_field :_destroy %>
    <%= f.fields_for :answers do |builder| %>
        <%= render 'answer_fields', :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add Answer", f, :answers %><br>
</div>
</fieldset>


