<h1>Pieces</h1>

<% if @pieces.length == 0 %>
    <p>There are no pieces in the inventory.</p>
<% else %>

<table class="table table-striped">
    <tr>
        <th>Exhibited</th>
        <th>Title</th>
        <th>Creator</th>
        <th>Gallery</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <% @pieces.each do |piece| %>
        <tr>
            <td><%= piece.exhibited %></td>
            <td><%= piece.title %></td>
            <td><%= if piece.creator.nil? then "" else piece.creator.name end %></td>
            <td><%= if piece.gallery.nil? then "" else piece.gallery.name end %></td>
            <td><%= link_to 'Show', [:admin, piece] %></td>
            <td><%= link_to 'Edit', edit_admin_piece_path(piece) %></td>
            <td><%= link_to 'Destroy', [:admin, piece], method: :delete, data: {confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<% end %>

<br/>

<%= link_to 'New Piece', new_admin_piece_path, "data-ajax" => "false" %>
