<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %>
</p>

<p>
  <b>Order:</b>
  <%= @gallery.order %>
</p>

<p>
    <b>Floor:</b>
    <%= @gallery.floor %>
</p>

<p>
  <b>About:</b>
  <%= @gallery.about %>
</p>


<%= link_to 'Edit', edit_admin_gallery_path(@gallery) %> |
<%= link_to 'Back', admin_galleries_path %>
