<%= form_for [:admin, @comment], :html => {:class => "form-horizontal"} do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
        <legend>Comment</legend>

        <div class="control-group">
            <%= f.label :content, :class => "control-label" %>
            <div class="controls">
                <%= f.text_area :content, :rows => 3, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :user_id, :class => "control-label" %>
            <div class="controls">
                <%= f.select :user_id, User.all.collect {|p| [p.email, p.id]}, {:include_blank => true} %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :connection_id, :class => "control-label" %>
            <div class="controls">
                <%= f.select :connection_id, Connection.all.collect {|p| [p.id, p.id]}, {:include_blank => true} %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :piece_id, :class => "control-label" %>
            <div class="controls">
                <%= f.select :piece_id, Piece.all.collect {|p| [p.title, p.id]}, {:include_blank => true} %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :tour_id, :class => "control-label" %>
            <div class="controls">
                <%= f.select :tour_id, Tour.all.collect {|p| [p.title, p.id]}, {:include_blank => true} %>
            </div>
        </div>

    </fieldset>

    <div class="control-group">
        <%= f.submit "Save", :class => "btn" %>
    </div>
<% end %>
