<h1>Comments</h1>

<% if @comments.length <= 0 %>
    <p>There are no comments.</p>
<% else %>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Approved</th>
            <th>Content</th>
            <th>User</th>
            <th>Piece</th>
            <th>Tour</th>
            <th>Date</th>
            <th></th>
        </tr>

        <% @comments.each do |comment| %>
            <tr>
                <td><%= comment.approved ? "Yes" : "No" %></td>
                <td><%= comment.content %></td>
                <td><%= comment.user.email if comment.user %></td>
                <td>
                    <% if comment.piece %>
                        <%= link_to comment.piece.title, [:admin, comment.piece] %>
                    <% end %>
                </td>
                <td>
                    <% if comment.tour %>
                        <%= link_to comment.tour.title, [:admin, comment.tour] %>
                    <% end %>
                </td>
                <td><%= comment.created_at.to_time.strftime("%m/%d/%Y") %></td>
                <td style="text-align: center;"><%= link_to raw("<i class='icon-file'></i>"), edit_admin_comment_path(comment), "data-toggle" => "tooltip", "data-placement" => "right", :title => "View", :class => "tooltip_right" %></td>
            </tr>
        <% end %>
    </table>
<% end %>

<%= will_paginate @comments %>