<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Piece:</b>
  <%= @comment.piece %>
</p>

<p>
  <b>Category:</b>
  <%= @comment.category %>
</p>

<p>
  <b>Connection:</b>
  <%= @comment.connection %>
</p>

<p>
  <b>Tour:</b>
  <%= @comment.tour %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
