<%= form_for [:admin, @tour], :html => {:class => "form-horizontal"} do |f| %>
    <% if @tour.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

            <ul>
                <% @tour.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <fieldset>
        <legend>Tour</legend>
        <%= f.hidden_field :curated, :value => true %>
        <!-- TODO: Make save as user_id for logged in person -->
        <%= f.hidden_field :user_id, :value => 1 %>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <%= f.check_box :public %> Public
                </label>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :title, :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :title, :class => "input-xxlarge" %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :image, :class => "control-label" %>
            <div class="controls">
                <%= f.file_field :image %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :about, :class => "control-label" %>
            <div class="controls">
                <%= f.text_area :about, :rows => 3, :class => "input-xxlarge" %>
            </div>
        </div>

    </fieldset>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Pieces</a></li>
            <li><a href="#tab2" data-toggle="tab">Connections</a></li>
            <li><a href="#tab3" data-toggle="tab">Informations</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <%= f.fields_for :tour_items, :html => {:class => "form-inline"} do |builder| %>
                    <%= render 'tour_item_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Piece", f, :tour_items %>
            </div>
            <div class="tab-pane" id="tab2">
                <p>
                    (<a href="#" class="info_tip" data-toggle="popover" data-placement="right" data-content="Connections are the interesting links between pieces in the tour that are shown to the visitor." title="Connections">What is this?</a>)
                </p>
                <%= f.fields_for :connections do |builder| %>
                    <%= render 'connection_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Connection", f, :connections %>
            </div>
            <div class="tab-pane" id="tab3">
                <p>
                    (<a href="#" class="info_tip" data-toggle="popover" data-placement="right" data-content="These are the information which will be shown to the visitor prior and during the visit at the museum." title="Informations">What is this?</a>)
                </p>
                <%= f.fields_for :informations do |builder| %>
                    <%= render 'information_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "Add Information", f, :informations %>
            </div>
        </div>
    </div>

    <div class="control-group">
        <%= f.submit "Save", :class => "btn" %>
    </div>

<% end %>
