<h1>Dashboard</h1>
<div class="row">
    <div class="span4">
        <div class="bs-docs-example">
            <h3>Recent Comments</h3>
            <% if @comments.length <= 0 %>
                <p>There are no comments.</p>
            <% else %>
            <ul>
                <% @comments.each do |comment| %>
                    <li><%= comment.content %></li>
                <% end %>
            </ul>
            <% end %>
            <p style="text-align: right">
                <%= link_to "More...", admin_comments_path %>
            </p>
        </div>
    </div>
    <div class="span4">
        <div class="bs-docs-example">
            <h3>Recent Tours</h3>
            <% if @tour_histories.length <= 0 %>
                <p>There are no recent tours.</p>
            <% else %>
                <ul>
                    <% @tour_histories.each do |tour| %>
                        <li><%= tour.tour.title %></li>
                    <% end %>
                </ul>
            <% end %>
            <p style="text-align: right">
                <%= link_to "More...", admin_tour_histories_path %>
            </p>
        </div>
    </div>
    <div class="span4">
        <div class="bs-docs-example">
            <h3>Recent Users</h3>
            <% if @users.length <= 0 %>
                <p>There are no users.</p>
            <% else %>
                <ul>
                    <% @users.each do |user| %>
                        <li><%= user.email %></li>
                    <% end %>
                </ul>
            <% end %>
            <p style="text-align: right">
                <%= link_to "More...", admin_users_path %>
            </p>
        </div>
    </div>
</div>


