

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-signup form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

    <h2>Forgot your password?</h2>

    <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
            <%= f.email_field :email, :autofocus => true, :class => "input-large" %>
        </div>
    </div>

  <div><%= f.submit "Send me reset password instructions", :class => "btn" %></div>
    <br>

    <%= render "devise/shared/links" %>
<% end %>


