<h1>MY VOYAGES</h1>
<% count = 0 %>
<% @histories.each do |history| %>
    <% if count % 4 == 0 %>
        <div class="row-fluid">
    <% end %>
        <div class="span3" style="text-align: center">
            <%= image_tag(history.tour.image(:medium)) %>
            <h3><%= history.tour.title.upcase %></h3>
            <p>
                <%= history.executed_date.to_formatted_s(:long_ordinal) if history.executed_date %>
            </p>
            <p>
                <%= link_to 'Show', history %>
                <%= link_to 'Edit', edit_history_path(history) %></td>
                <%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
        </div>
    <% if count % 4 == 3 %>
        </div>
    <% end %>
    <% count += 1 %>
<% end %>
