<h1>MY VOYAGES</h1>

<% @histories.each do |history| %>
    <div class="row-fluid">
        <div class="span2">
            <%= image_tag(history.tour.image(:medium)) %>
        </div>
        <div class="span10">
            <h3><%= history.tour.title.upcase %></h3>
            <p>
                <%= history.executed_date.to_formatted_s(:long_ordinal) if history.executed_date %>
            </p>
            <p>
                <%= link_to 'Show', history %>
                <%= link_to 'Edit', edit_history_path(history) %></td>
                <%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
        </div>
    </div>
<% end %>
