<h1>WHO ARE YOU TODAY?</h1>
<p>Choose your identity</p>

<% if @tours.length <= 0 %>
    <p>There are no tours</p>
<% else %>
    <% @count = 0 %>
    <% @tours.each do |tour| %>
        <% if @count % 3 == 0 %>
            <div class="row-fluid">
        <% end %>
        <div class="span4">
            <div class="identity_name">
                <%= form_for @history do |f| %>
                    <%= f.hidden_field :tour_id, :value => tour.id %>
                    <% user_id = current_user.id if current_user %>
                    <%= f.hidden_field :user_id, :value => user_id %>
                    <%= image_submit_tag(tour.image.url(:large), :class => "tour_img_btn") %>
                    <%= f.submit tour.title.upcase, :class => "tour_btn" %>
                <% end %>

            </div>
        </div>
        <% if @count % 3 == 2 %>
            </div>
        <% end %>
        <% @count += 1 %>
    <% end %>
<% end %>

<div class="row-fluid">
    <div class="span12">
        <br>
        <br>
        <p>
            <%= link_to "Not working for you? Try graph interface", mobile_identities_path %>
        </p>
    </div>
</div>
