<div class="row-fluid header">
    <div class="span12">
        <%= image_tag "desktop/Logo2.png" %>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="text_content">
            <h1>Content Here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae magna turpis, eget commodo odio. Praesent varius pharetra magna, id faucibus sapien convallis ut. Fusce id tincidunt justo. In vel libero est, vel rhoncus nisi. Curabitur sit amet eros vel metus pulvinar egestas. Pellentesque euismod auctor rhoncus. Aenean metus urna, congue non rhoncus ac, consectetur in nisl. Donec mollis interdum dolor sit amet faucibus. Ut odio tortor, posuere sed aliquam eget, tincidunt in mi. Aenean egestas euismod congue. Sed at libero nulla. Nunc ante velit, ullamcorper non auctor et, lobortis nec diam. Nunc vel nunc ligula. Cras mattis luctus pulvinar. Integer et enim magna.</p>
        </div>
    </div>
    <div class="span6">
        <div class="text_content">
            <h1>Trunk animation here</h1>
            <p>Mauris tristique placerat sodales. Duis sed massa eros. Aenean malesuada, ante et malesuada viverra, lorem arcu mollis orci, in tempor justo velit ac velit. Nullam ultrices euismod porta. Donec elit nisi, dictum eu placerat a, volutpat nec mauris. Praesent hendrerit lacinia lacus vel mattis. Aliquam lobortis tellus in magna elementum ac aliquet metus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut quis facilisis libero. Pellentesque convallis, elit at dapibus lacinia, lacus nibh consequat metus, id gravida mauris lacus id velit. Fusce sagittis molestie erat nec pellentesque. Vestibulum id fringilla ipsum. Cras eu lacus dui, et eleifend nulla.</p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/BLIND-DATE-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/FASHIONISTA-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/GEEK-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/MAKER-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/PITTSBURGHER-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/TRAVELER_150.png" %></div>
</div>
<div class="row-fluid pre_footer">
    <div class="span6">
        <div class="text_content carnegie_museums">
            <%= image_tag "desktop/CarnegieMuseums.png" %>
        </div>
    </div>
    <div class="span6" style="text-align: right;">
        <%= image_tag "desktop/PostCard_long.png" %>
    </div>
</div>
<div class="row-fluid dark_back">
    <div class="span12">
        <div class="text_content">
            <p>Carnegie Museums of Art and Natural History</p>
        </div>
    </div>
</div>