<div data-role="page">

    <div data-role="header" data-position="fixed">
        <a href="index.html" data-theme="c"
           data-role="button"
           data-icon="home" data-iconpos="notext"
           class="ui-btn-left">Home</a>
        <h2>The Voyage</h2>
    </div><!-- /header -->

    <div data-role="content" id="mainContent">

        <div id="map" style="width:734px; margin-left:auto; margin-right:auto;">
            <img id="Image-Maps_floor_1" src="/assets/sample_map.png" usemap="#Image-Maps_floor_1" border="0" width="734" height="486" alt="" />
            <map id="_Image-Maps_floor_1" name="Image-Maps_floor_1">
                <area shape="rect" id="gal1" coords="21,21,250,188" onclick="return galInfo(0)" alt="Gallery 1" title="Gallery 1"    />
                <area shape="rect" id="gal2" coords="253,20,543,147" onclick="return galInfo(1)" alt="Gallery 2" title="Gallery 2"    />
                <area shape="rect" id="gal3" coords="207,357,605,448" onclick="return galInfo(2)" alt="Gallery 5" title="Gallery 5"    />
                <area shape="rect" id="gal4" coords="543,19,697,149" onclick="return galInfo(3)" alt="Gallery 3" title="Gallery 3"    />
                <area shape="rect" id="gal5" coords="20,186,205,450" onclick="return galInfo(4)" alt="Gallery 4" title="Gallery 4"    />
                <area shape="rect" coords="732,484,734,486" href="/assets/sample_map.png" alt="Image Map" title="Image Map" />
            </map>

            <style type="text/css">
                .circle {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    background: rgb(255, 39, 9);
                    background: rgba(255, 39, 9, 0.69);
                    text-align:center;
                    /* width and height can be anything, as long as they're equal */
                }

                #cir1
                {
                    position: absolute;
                    top: 110px;
                    left: 300px;
                    padding: 10px;
                }
            </style>
    </div>

    <div data-role="popup" id="aboutGalPopup">
      <a href="#"
         data-theme="c"
         data-rel="back" data-role="button"
         data-icon="delete" data-iconpos="notext"
         class="ui-btn-right">Close</a>

      <p id="aboutGal"></p>

    </div>

    <div data-role="popup" id="permaMenu" class="ui-content" >
        <a href="#"
           data-theme="c"
           data-rel="back" data-role="button"
           data-icon="delete" data-iconpos="notext"
           class="ui-btn-right">Close</a>

        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>

    </div>

    <div data-role="footer" data-theme="c" data-position="fixed">
        <a id="footerButton" class="centered" href="#permaMenu" data-rel="popup" data-icon="bars" data-iconpos="top" data-theme="c"></a>
    </div>

    <div id="aboutGallery" data-role="dialog">

    </div>


</div>

</div>