<div data-role="page">

    <div data-role="header" data-position="fixed">
        <a href="index.html" data-theme="c"
           data-role="button"
           data-icon="home" data-iconpos="notext"
           class="ui-btn-left">Home</a>
        <h2>The Voyage</h2>
    </div><!-- /header -->

  <div data-role="navbar">
    <ul>
      <li><a href="a.html">Floor 1</a></li>
      <li><a href="b.html">Floor 2</a></li>
      <li><a href="b.html">Floor 3</a></li>
    </ul>
  </div><!-- /navbar -->

    <div data-role="content" id="mainContent">

      <div id="map" style="text-align:center; width:1024px; margin-left:auto; margin-right:auto;">
        <img id="Image-Maps_floor_1" src="/assets/MAPv1_Floor1.png" usemap="#Image-Maps_floor_1" border="0" width="1024" height="513" alt="" />
        <map id="_Image-Maps_floor_1" name="Image-Maps_floor_1">
          <area shape="rect" id="gal1" coords="592,91,628,136" onclick="return galInfo(0)" alt="ice age" title="ice age"    />
          <area shape="rect" id="gal2" coords="631,91,705,137" onclick="return galInfo(1)" alt="amphibians" title="amphibians"    />
          <area shape="rect" id="gal3" coords="544,142,701,233" onclick="return galInfo(2)" alt="dinosaurs" title="dinosaurs"    />
          <area shape="rect" id="gal4" coords="698,237,758,286" onclick="return galInfo(3)" alt="gems and jewelry" title="gems and jewelry"    />
          <area shape="rect" id="gal5" coords="567,237,692,286" onclick="return galInfo(4)" alt="minerals" title="minerals"    />
          <area shape="rect" id="gal6" coords="543,291,618,339" onclick="return galInfo(5)" alt="geology" title="geology"    />
          <area shape="rect" id="gal7" coords="696,287,785,385" onclick="return galInfo(6)" alt="hall of architecture" title="hall of architecture"    />
          <area shape="rect" coords="1022,511,1024,513" href="/assets/MAPv1_Floor1.png" alt="Image Map" title="Image Map" />
        </map>
      </div>

    <div data-role="popup" id="aboutGalPopup">
      <a href="#"
         data-theme="c"
         data-rel="back" data-role="button"
         data-icon="delete" data-iconpos="notext"
         class="ui-btn-right">Close</a>

      <p id="aboutGal"></p>

    </div>

    <div data-role="popup" id="permaMenu" class="ui-content" >
        <a href="#"
           data-theme="c"
           data-rel="back" data-role="button"
           data-icon="delete" data-iconpos="notext"
           class="ui-btn-right">Close</a>

        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>

    </div>

    <div data-role="footer" data-theme="c" data-position="fixed">
        <a id="footerButton" class="centered" href="#permaMenu" data-rel="popup" data-icon="bars" data-iconpos="top" data-theme="c"></a>
    </div>


    <div id="itemInformation" data-role="popup">

    </div>

    <div id="connectionInformation" data-role="dialog">

    </div>

    <div id="comments" data-role="dialog">


    </div>


</div>

</div>

<div id="checkin" data-role="dialog">
 <!-- <div data-role="content">-->
    <a href="#"
       data-theme="c"
       data-rel="back" data-role="button"
       data-icon="delete" data-iconpos="notext"
       class="ui-btn-right">Close</a>
  <form>
    <fieldset id="checkinQuestion">
      <label id="question"></label>

      <input type="radio" name="answers" id="answer0"><label id="answerLbl0"></label>
      <input type="radio" name="answers" id="answer1"><label id="answerLbl1"></label>
      <input type="radio" name="answers" id="answer2"><label id="answerLbl2"></label>
      <input type="radio" name="answers" id="answer3"><label id="answerLbl3"></label>
    </fieldset>
  </form>
  <button onclick="checkAnswer()">Submit</button>
 <!-- </div>-->
</div>
