<div data-role="page" id="first_floor" data-fullscreen="true">

    <div data-role="header" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#first_floor" class="ui-btn-active ui-state-persist">Floor 1</a></li>
          <li><a href="#second_floor">Floor 2</a></li>
          <li><a href="#third_floor">Floor 3</a></li>
        </ul>
      </div><!-- /navbar -->

    </div><!-- /header -->



    <div data-role="content" id="mainContent">

      <div id="1_map" style="text-align:center; width:100%; margin-left:auto; margin-right:auto;">
        <img id="Image-Maps_floor_1" src="/assets/MAPv1_Floor1.png" usemap="#Image-Maps_floor_1" border="0" width="1024" height="768" alt="" />
        <map id="_Image-Maps_floor_1" name="Image-Maps_floor_1">
          <area shape="rect" id="gal1" coords="592,91,628,136" onclick="return galInfo(0)" alt="ice age" title="ice age"    />
          <area shape="rect" id="gal2" coords="631,91,705,137" onclick="return galInfo(1)" alt="amphibians" title="amphibians"    />
          <area shape="rect" id="gal3" coords="544,142,701,233" onclick="return galInfo(2)" alt="dinosaurs" title="dinosaurs"    />
          <area shape="rect" id="gal4" coords="698,237,758,286" onclick="return galInfo(3)" alt="gems and jewelry" title="gems and jewelry"    />
          <area shape="rect" id="gal5" coords="567,237,692,286" onclick="return galInfo(4)" alt="minerals" title="minerals"    />
          <area shape="rect" id="gal6" coords="543,291,618,339" onclick="return galInfo(5)" alt="geology" title="geology"    />
          <area shape="rect" id="gal7" coords="696,287,785,385" onclick="return galInfo(6)" alt="hall of architecture" title="hall of architecture"    />
          <area shape="rect" coords="1022,511,1024,513" href="/assets/MAPv1_Floor1.png" alt="Image Map" title="Image Map" />
        </map>
      </div>

    <div data-role="popup" id="aboutGalPopup">
      <a href="#"
         data-theme="c"
         data-rel="back" data-role="button"
         data-icon="delete" data-iconpos="notext"
         class="ui-btn-right">Close</a>

      <p id="aboutGal"></p>

    </div>

    <div data-role="popup" id="permaMenu" class="ui-content" >
        <a href="#"
           data-theme="c"
           data-rel="back" data-role="button"
           data-icon="delete" data-iconpos="notext"
           class="ui-btn-right">Close</a>

        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>

    </div>

    <div data-role="footer" data-theme="c" data-position="fixed">
      <a href="index.html" data-theme="c"
         data-role="button"
         data-icon="home" data-iconpos="notext"
         class="ui-btn-left">Home</a>
        <a id="footerButton" class="centered" href="#permaMenu" data-rel="popup" data-icon="bars" data-iconpos="top" data-theme="c"></a>
    </div>

    </div>


</div>   <!--page First floor -->

<div data-role="page" id="second_floor" data-fullscreen="true">

  <div data-role="header" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#first_floor">Floor 1</a></li>
        <li><a href="#second_floor" class="ui-btn-active ui-state-persist">Floor 2</a></li>
        <li><a href="#third_floor">Floor 3</a></li>
      </ul>
    </div><!-- /navbar -->

  </div><!-- /header -->


  <div data-role="content" id="mainContent">

    <div id="2_map" style="text-align:center; width:1024px; margin-left:auto; margin-right:auto;">
      <img id="Image-Maps_floor_2" src="/assets/MAPv1_Floor2.png" usemap="#Image-Maps_floor_2" border="0" width="1024" height="515" alt="" />
      <map id="_Image-Maps_floor_2" name="Image-Maps_floor_2">
        <area shape="rect" id="gal7" href="" coords="525,95,614,139" onclick="return galInfo(7)" alt="wildlife" title="wildlife"    />
        <area shape="rect" id="gal8" href="" coords="213,228,362,463" onclick="return galInfo(8)" alt="scaife galleries" title="scaife galleries"    />
        <area shape="rect" id="gal9" href="" coords="361,415,554,467" onclick="return galInfo(9)" alt="contemporary art" title="contemporary art"    />
        <area shape="rect" id="gal10" href="" coords="691,414,791,465" onclick="return galInfo(10)" alt="decorative arts" title="decorative arts"    />
        <area shape="rect" id="gal11" href="" coords="684,18,729,72" onclick="return galInfo(11)" alt="botany" title="botany"    />
        <area shape="rect" coords="1022,513,1024,515" href="/assets/MAPv1_Floor2.png" alt="Image Map" title="Image Map" />
      </map>
    </div>



    <div data-role="popup" id="aboutGalPopup">
      <a href="#"
         data-theme="c"
         data-rel="back" data-role="button"
         data-icon="delete" data-iconpos="notext"
         class="ui-btn-right">Close</a>

      <p id="aboutGal"></p>

    </div>

    <div data-role="popup" id="permaMenu" class="ui-content" >
        <a href="#"
           data-theme="c"
           data-rel="back" data-role="button"
           data-icon="delete" data-iconpos="notext"
           class="ui-btn-right">Close</a>

        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>

    </div>

    <div data-role="footer" data-theme="c" data-position="fixed">
      <a href="index.html" data-theme="c"
         data-role="button"
         data-icon="home" data-iconpos="notext"
         class="ui-btn-left">Home</a>
      <a id="footerButton" class="centered" href="#permaMenu" data-rel="popup" data-icon="bars" data-iconpos="top" data-theme="c"></a>
    </div>

    </div>


</div>    <!-- page Second floor-->


<div data-role="page" id="third_floor" data-fullscreen="true">

  <div data-role="header" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#first_floor">Floor 1</a></li>
        <li><a href="#second_floor">Floor 2</a></li>
        <li><a href="#third_floor" class="ui-btn-active ui-state-persist">Floor 3</a></li>
      </ul>
    </div><!-- /navbar -->

  </div><!-- /header -->


  <div data-role="content" id="mainContent">

    <div id="3_map" style="text-align:center; width:1024px; margin-left:auto; margin-right:auto;">
      <img id="Image-Maps_floor_3" src="/assets/MAPv1_Floor3.png" usemap="#Image-Maps_floor_3" border="0" width="1024" height="515" alt="" />
      <map id="_Image-Maps_floor_3" name="Image-Maps_floor_3">
        <area shape="rect" id="gal12" coords="468,155,580,203" href="" onclick="return galInfo(12)" alt="Jurassic Overlook" title="Jurassic Overlook"    />
        <area shape="rect" id="gal13" coords="409,204,433,378" href="" onclick="return galInfo(13)" alt="Hall of Birds" title="Hall of Birds"    />
        <area shape="rect" id="gal14" coords="348,383,420,485" href="" onclick="return galInfo(14)" alt="Ancient Egypt" title="Ancient Egypt"    />
        <area shape="rect" id="gal15" coords="502,382,649,444" href="" onclick="return galInfo(15)" alt="Polar Bear" title="Polar Bear"    />
        <area shape="rect" id="gal16" coords="650,383,748,445" href="" onclick="return galInfo(16)" alt="American Indians" title="American Indians"    />
        <area shape="rect" coords="1022,513,1024,515" href="/assets/MAPv1_Floor3.png" alt="Image Map" title="Image Map" />
      </map>
    </div>



    <div data-role="popup" id="aboutGalPopup">
      <a href="#"
         data-theme="c"
         data-rel="back" data-role="button"
         data-icon="delete" data-iconpos="notext"
         class="ui-btn-right">Close</a>

      <p id="aboutGal"></p>

    </div>

    <div data-role="popup" id="permaMenu" class="ui-content" >
      <a href="#"
         data-theme="c"
         data-rel="back" data-role="button"
         data-icon="delete" data-iconpos="notext"
         class="ui-btn-right">Close</a>

      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>

    </div>

    <div data-role="footer" data-theme="c" data-position="fixed">
      <a href="index.html" data-theme="c"
         data-role="button"
         data-icon="home" data-iconpos="notext"
         class="ui-btn-left">Home</a>
      <a id="footerButton" class="centered" href="#permaMenu" data-rel="popup" data-icon="bars" data-iconpos="top" data-theme="c"></a>
    </div>

  </div>

</div>     <!-- page Third floor-->


<div id="checkin" data-role="dialog">
 <!-- <div data-role="content">-->
    <a href="#"
       data-theme="c"
       data-rel="back" data-role="button"
       data-icon="delete" data-iconpos="notext"
       class="ui-btn-right">Close</a>
  <form>
    <fieldset id="checkinQuestion">
      <label id="question"></label>

      <input type="radio" name="answers" id="answer0"><label id="answerLbl0"></label>
      <input type="radio" name="answers" id="answer1"><label id="answerLbl1"></label>
      <input type="radio" name="answers" id="answer2"><label id="answerLbl2"></label>
      <input type="radio" name="answers" id="answer3"><label id="answerLbl3"></label>
    </fieldset>
  </form>
  <button onclick="checkAnswer()">Submit</button>
 <!-- </div>-->
</div>

<div id="itemInformation" data-role="popup">

  <a href="#"
     data-theme="c"
     data-rel="back" data-role="button"
     data-icon="delete" data-iconpos="notext"
     class="ui-btn-right">Close</a><br>

  <image id="item_image"></image><br>
  <p id="after_info"></p><br>
  <p id="con_1"></p><br>
  <p id="con_2"></p><br>

  <a href="#comments" data-rel="dialog" data-role="button">OK!</a>

</div>

<div id="comments" data-role="dialog">
    <input type="text">
  <a href="#" data-role="button">Submit</a>
  <p>Sample Comment 1</p>
  <p>Sample Comment 2</p>
  <p>Sample Comment 3</p>

  <a href="#" onclick = "closeAllDialogs()" data-role="button">Done</a>

</div>


<script type="text/javascript" src="/assets/paloma/jquery.rwdImageMaps.js"></script>
<script>
    $(document).ready(function(e) {
        $('#Image-Maps_floor_1').rwdImageMaps();
        $('#Image-Maps_floor_2').rwdImageMaps();
        $('#Image-Maps_floor_3').rwdImageMaps();

    });
</script>

