
<div data-role="page">

  <div data-role="header" data-position="fixed">
    <a href="index.html" data-theme="c"
       data-role="button"
       data-icon="home" data-iconpos="notext"
       class="ui-btn-left">Home</a>
    <h2>The Voyage</h2>
  </div><!-- /header -->

  <div data-role="content" id="mainContent">
    <svg id="chart" class="center" style="background-color: darkcyan;"preserveAspectRatio="xMaxYMin meet">

    </svg>
  </div>

  <div data-role="popup" id="about" class="ui-content" >
    <a href="#"
       data-theme="c"
       data-rel="back" data-role="button"
       data-icon="delete" data-iconpos="notext"
       class="ui-btn-right">Close</a>
  </div>

<div data-role="popup" id="permaMenu" class="ui-content" >
  <a href="#"
     data-theme="c"
     data-rel="back" data-role="button"
     data-icon="delete" data-iconpos="notext"
     class="ui-btn-right">Close</a>

  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>

</div>

<div data-role="footer" data-theme="c" data-position="fixed">
  <a id="footerButton" class="centered" href="#permaMenu" data-rel="popup" data-icon="bars" data-iconpos="top" data-theme="c"></a>
</div>

</div>

<div data-role="popup" id="teaser" class="ui-content">
  <a href="#"
     data-theme="c"
     data-rel="back" data-role="button"
     data-icon="delete" data-iconpos="notext"
     class="ui-btn-right"><b>X</b></a>
  <h4 id="title"></h4>
  <p id="info"></p>
</div>

