<h1>LAST THOUGHTS</h1>

<p>Share your experience with your friends</p>

<%= form_for @comment, :html => {:class => "form-horizontal"} do |f| %>
    <% if @comment.errors.any? %>
        <div class="alert">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <fieldset>
        <%= f.text_area :content, :rows => 3, :class => "input-xxlarge" %>
        <%= f.hidden_field :tour_id, :value => @tour.id %>
        <% user_id = current_user.id if current_user %>
        <%= f.hidden_field :user_id, :value => user_id %>
    </fieldset>
    <br>

    <div class="control-group">
        <%= f.submit "Save", :class => "btn" %>
    </div>
<% end %>
