<div class="row-fluid">
    <div class="span7" style="text-align: center">
        <br>
        <% if mobile_device? %>
            <%= link_to(image_tag("new_layout/trunk.png"), tours_path) %>
        <% else %>
            <%= link_to(image_tag("new_layout/trunk.png"), mobile_identities_path) %>
        <% end %>
        <div class="landing_image_tx">
            Take a personalized, interactive journey<br>
            through BOTH extraordinary<br>
            museums
        </div>
        <br>
    </div>
    <div class="span5">
        <div class="side_area">
            <p>
                <span class="highlight">WELCOME</span><br>
                You are invited to experience the<br>
                CARNEGIE MUSEUMS of ART + NATURAL HISTORY<br>
                in a new way
            </p>
            <br>
            <p>
                Take a second to
                <span class="highlight">
                    <% if user_signed_in? %>
                        SIGN UP
                    <% else %>
                        <%= link_to 'SIGN UP', new_user_registration_path %>
                    <% end %>
                </span><br>
                now and join us at the museums.
            </p>
            <br>
            <p>
                <span class="highlight">
                    <% if user_signed_in? %>
                        LOG IN
                    <% else %>
                        <%= link_to 'LOG IN', new_user_session_path %>
                    <% end %>
                </span>
                to this website on<br>
                your smartphone or tablet
            </p>
            <p>
                <a href="http://the-voyage.herokuapp.com/">http://the-voyage.herokuapp.com</a>
                <%= image_tag "new_layout/QRCode.png" %>
            </p>
            <br>
            <p>
                <span class="highlight">PERSONALIZE</span><br>
                by selecting an "Identity" for your tour
            </p>
            <br>
            <p>
                Touch items on the screen<br>
            </p>
            <p>
                to learn more, then <span class="highlight">GO!</span>
            </p>
            <br>
            <p>
                Locate your tour stops on the <span class="highlight">MAP</span>
            </p>
            <p>
                Touch the numbers to
                <span class="highlight">CHECK IN</span>
            </p>
            <p>
                once you've visited each item
            </p>
            <p>
                <span class="highlight">SHARE</span> your thoughts by commenting!
            </p>

            <p>
                <%= image_tag "new_layout/facebook_btn.png" %>
            </p>
        </div>
    </div>
</div>