<%= form_for [:admin, @country], :html => {:class => "form-horizontal"} do |f| %>
    <% if @country.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

            <ul>
                <% @country.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <fieldset>
        <legend>Location</legend>
        <div class="control-group">
            <%= f.label :name, "Country", :class => "control-label" %>
            <div class="controls">
                <%= f.text_field :name, :class => "input-xxlarge" %>
            </div>
        </div>
    </fieldset>

    <div class="control-group">
        <div class="controls">
            <%= f.fields_for :states do |builder| %>
                <%= render 'state_fields', :f => builder %>
            <% end %>
            <%= link_to_add_fields "Add State", f, :states %>
        </div>
    </div>

    <div class="control-group">
        <%= f.submit "Save", :class => "btn" %>
    </div>

<% end %>
