<fieldset>
    <div class="partial_form">
        <%= f.label :name, "State" %>
        <%= f.text_field :name, :class => "input-xxlarge" %>
        <%= link_to "Remove", "#", :class => "remove_fields" %><br/>
        <%= f.hidden_field :_destroy %>
        <%= f.fields_for :cities do |builder| %>
            <%= render 'city_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields "Add City", f, :cities %><br>
    </div>
</fieldset>