<%= form_for(@tour_history) do |f| %>
  <% if @tour_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_history.errors.count, "error") %> prohibited this tour_history from being saved:</h2>

      <ul>
      <% @tour_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chosen_date %><br />
    <%= f.datetime_select :chosen_date %>
  </div>
  <div class="field">
    <%= f.label :executed_date %><br />
    <%= f.datetime_select :executed_date %>
  </div>
  <div class="field">
    <%= f.label :tour %><br />
    <%= f.text_field :tour %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
