<h1>Chosen Tours</h1>

<% if @tour_histories.length <= 0 %>
    <p>There are no recent tours.</p>
<% else %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Chosen date</th>
    <th>Executed date</th>
    <th>Tour</th>
    <th>User</th>
    <th></th>
  </tr>

<% @tour_histories.each do |tour_history| %>
  <tr>
    <td><%= tour_history.chosen_date %></td>
    <td><%= tour_history.executed_date %></td>
    <td><%= tour_history.tour %></td>
    <td><%= tour_history.user %></td>
    <td><%= link_to 'Show', tour_history %></td>
  </tr>
<% end %>
</table>

<% end %>