<h1>Creators</h1>

<% if @creators.length == 0 %>
    <p>There are no creators in the inventory.</p>
<% else %>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>About</th>
            <th></th>
            <th></th>
        </tr>

        <% @creators.each do |creator| %>
            <tr>
                <td><%= creator.name %></td>
                <td><%= creator.about %></td>
                <td style="text-align: center;"><%= link_to raw("<i class='icon-pencil'></i>"), edit_admin_creator_path(creator), "data-toggle" => "tooltip", "data-placement" => "right", :title => "Edit", :class => "tooltip_right" %></td>
                <td style="text-align: center;"><%= link_to raw("<i class='icon-trash'></i>"), [:admin, creator], method: :delete, data: {confirm: 'Are you sure you want to delete this item? This action can NOT be reversed.' }, "data-toggle" => "tooltip", "data-placement" => "right", :title => "Delete", :class => "tooltip_right" %></td>
            </tr>
        <% end %>
    </table>

<% end %>

<br/>

<%= link_to 'New Creator', new_admin_creator_path %>
