<!DOCTYPE html>
<html>
<head>
    <title>The Voyage Admin Area</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">The Voyage Admin</a>
            <div class="nav-collapse collapse">
                <ul class="nav admin_nav">
                    <li<%= raw(" class=\"active\"") if @page == "dashboard#index" %>>
                        <%= link_to "Home", admin_dashboard_index_path %>
                    </li>
                    <li class="dropdown <%= raw("active") if @page == "pieces" %>">
                        <%= link_to "Pieces", admin_pieces_index_path, :class => "dropdown-toggle" %>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to "New Piece", admin_pieces_new_path %>
                            </li>
                        </ul>
                    </li>
                    <li<%= raw(" class=\"active\"") if @page == "pieces" %>>
                        <%= link_to "Pieces", admin_pieces_index_path %>
                    </li>
                    <li<%= raw(" class=\"active\"") if @page == "tours" %>>
                        <%= link_to "Tours", admin_tours_index_path %>
                    </li>
                    <li<%= raw(" class=\"active\"") if @page == "users" %>>
                        <%= link_to "Users", admin_users_index_path %>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container main_content">

    <div class="row">
        <div class="span12 right">
            Login
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <%= yield %>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Carnegie Museums of Art and Natural History 2013</p>
    </footer>

</div> <!-- /container -->

</body>
</html>
