<!DOCTYPE html>
<html>
<head>
  <title>Voyage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">The Voyage</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <h1>Bootstrap starter template</h1>
  <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li><%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %></li>
  <% end %>

    <%= yield %>

</div> <!-- /container -->
</body>
</html>
