<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Voyage Welcome</title>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One|Sintony' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "mobile", :media => "all" %>
    <%= javascript_include_tag "mobile" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  <script>
      var fixgeometry = function() {
          /* Some orientation changes leave the scroll position at something
           * that isn't 0,0. This is annoying for user experience. */
          //scroll(0, 0);

          /* Calculate the geometry that our content area should take */
          var header = $("div[data-role='header']");
          var footer = $("div[data-role='footer']");
          var content = $("div[data-role='content']");
          var viewport_height = $(window).height();

          var content_height = viewport_height - header.outerHeight() - footer.outerHeight();

          /* Trim margin/border/padding height */
          content_height -= (content.outerHeight() - content.height());
          content.height(content_height);
      }; /* fixgeometry */

      $(document).ready(function() {
          // $(window).bind("orientationchange resize pageshow", fixgeometry);
      });
  </script>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#about">COMMENTS</a></li>
                    <li><a href="#contact">MY VOYAGES</a></li>
                    <li><a href="#contact">THE MUSEUMS</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container" id="main_content">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span8">
                    <%= image_tag "new_layout/title.png" %>
                </div>
                <div class="span4">
                    <%= image_tag "new_layout/museums.png" %>
                </div>
            </div>
            <br>
            <%= yield %>
        </div>
    </div>
    <br>
    <br>
</div> <!-- /container -->

</body>
</html>
