<div class="row-fluid">
    <div class="span6">
        <div class="text_content">
            <h1>Start your Voyage</h1>
            <ul>
                <li>Where will YOU go at your Carnegie Museums?</li>
                <li>Join us for a personal Voyage through the Carnegie Museums of Art and Natural History and uncover hidden connections.</li>
                <li>Learn the backstory of your favorite pieces, and discover how you relate to the exhibits.</li>
                <li>Experience new ways to think about the museum and how you travel through it.</li>
                <li>Share your reactions with your friends on Facebook, entice others to visit and take a Voyage of their very own.</li>
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="text_content">
            <h1>Who are you today?</h1>
            <div id="trunk_animation"></div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/BLIND-DATE-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/FASHIONISTA-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/GEEK-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/MAKER-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/PITTSBURGHER-150.png" %></div>
    <div class="span2" style="text-align: center;"><%= image_tag "desktop/TRAVELER_150.png" %></div>
</div>

